/*
	tooltip code from w3schools.com
*/

/* Tooltip container version 1*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Tooltip container version 2*/
.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip2:hover .tooltiptext {
  visibility: visible;
}

/*
	top sticky navbar code from w3schools.com
*/

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 3;
}


/* Navbar links */
/* #navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

html {
    scroll-behavior: touch;
  }
  

/*
 Mobile Navigation Menu from w3schools code
 */

 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */s
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

div.topnav div.myLinks.closed { display: none; }
div.topnav div.myLinks.open { display: block; }

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: rgb(14, 172, 132);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(0, 90, 75);
  color: white;
}


/* Icons2 */

ul.icons2 {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

  ul.icons2 li {
    display: block;
    padding: 0 0.75rem 0 0;
  }

    ul.icons2 li:last-child {
      padding-right: 0;
    }